.re-direct {
  background-color: #fffcf7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.re-direct .div-3 {
  background-color: #fffcf7;
  height: 1027px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.re-direct .overlap-19 {
  height: 506px;
  left: 0;
  position: absolute;
  top: 422px;
  width: 1440px;
}

.re-direct .rectangle-6 {
  height: 460px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 1440px;
}

.re-direct .text-wrapper-55 {
  color: #2b2b39;
  font-family: "Sen", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 120px;
  letter-spacing: -3px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1127px;
}

.re-direct .group-13 {
  display: block;
  height: 58px;
  left: 518px;
  position: absolute;
  top: 341px;
  width: 334px;
}

.re-direct .overlap-20 {
  background-color: #578f7f;
  border-radius: 8px 0px 0px 8px;
  height: 58px;
  position: relative;
  width: 332px;
}

.re-direct .text-wrapper-56 {
  color: #fffcf7;
  font-family: "Sen", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 106px;
  letter-spacing: -0.5px;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 154px;
}

.re-direct .group-14 {
  display: block;
  height: 58px;
  left: 518px;
  position: absolute;
  top: 247px;
  width: 334px;
}

.re-direct .text-wrapper-57 {
  color: #2b2b39;
  font-family: "Sen", Helvetica;
  font-size: 96px;
  font-weight: 700;
  left: 120px;
  letter-spacing: -3px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 181px;
  white-space: nowrap;
  width: 1127px;
}

.re-direct .header-menu-3 {
  background-color: #ffffff;
  height: 70px;
  left: -2px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.re-direct .raregen-wrapper {
  background-color: #ffffff;
  height: 70px;
  position: relative;
}

.re-direct .raregen-3 {
  height: 53px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 182px;
}

.re-direct .footer-3 {
  background-color: #22130c;
  height: 99px;
  left: 0;
  position: absolute;
  top: 928px;
  width: 1453px;
}
